{% extends 'cyder/base.html' %}

{% block content %}
    <h1 style="margin: 6rem 0 6rem 0; text-align: center">Welcome to CyDER!</h1>
    <p>
        CyDER is a modular and scalable tool for power system planning and operation
        that will work seamlessly with existing interconnection planning tools in the
        utilities and be interoperable with future utility software, data streams, and
        controls. CyDER will maintain and enhance the efficiency and reliability of the
        power system in a cost-effective and safe manner, being built on three pillars:
        quasi-static time series (QSTS) co-simulation and optimization, real-time data
        acquisition, and hardware-in-the-loop (HIL) application.
    </p>
{% endblock content %}
