{% extends "_base.html" %}
{% block content %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
<script src="/static/js.cookie.js"></script>
<link rel="stylesheet" href="/static/magnific-popup/magnific-popup.css">
<script src="/static/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/static/notify/notify.min.js"></script>

<div id="add-popup" class="white-popup mfp-with-anim mfp-hide">
  <div id="spinner">
  </div>
</div>

<div style="max-width: 800px; margin: 0 auto;">

  <br>

  <div class="text-center">
    <h1><b>CyDER</b></h1>
    <p>Add distribution models to your project:</p>
    <br>
  </div>

  <div style="text-align:left;">
    <div class="row">
      {% for value in models %}
        <div class="col-md-8">
          <b>Id</b>: {{ value.id }} |
          <b>Region</b>: {{ value.region }} |
          <b>Breaker name</b>: {{ value.breaker_name }}
        </div>
        <div class="col-md-4">
          <a class="button1 add-buton" style="padding: 5px 5px; font-size: 14px;" onclick="my_function({{ project_id }}, {{ value.id }})">Add</a>
        </div>
        <br>
        <br>
      {% endfor %}
    </div>
  </div>


  <br>

  <div class="text-center">
    <a class="button1" href="/my_projects">Done</a>
  </div>
</div>

<script>
// loader settings
var opts = {
  lines: 9, // The number of lines to draw
  length: 13, // The length of each line
  width: 10, // The line thickness
  radius: 25, // The radius of the inner circle
  color: '#EE3124', // #rgb or #rrggbb or array of colors
  speed: 2.0, // Rounds per second
  trail: 40, // Afterglow percentage
  className: 'spinner', // The CSS class to assign to the spinner
};

var csrftoken = Cookies.get('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function sleep (time) {
  return new Promise((resolve) => setTimeout(resolve, time));
}

function my_function(project_id, model_id){
    // trigger popup
    $.magnificPopup.open({
        items: {
          src: '#add-popup'
        },
        removalDelay: 500, //delay removal by X to allow out-animation
        mainClass: 'mfp-fade'
      });


    // trigger loader
    var target = document.getElementById("spinner");
    var spinner = new Spinner(opts).spin(target);

    // Send post request
    sleep(1000).then(() => {
      // Do something after the sleep!
      $.post("/api/project/" + project_id + "/add_model/?format=json",
      {
        "model": model_id,
      },
      function(data, status){
          // stop spin.js loader
          spinner.stop();

          // close the pop up
          $.magnificPopup.close()

          // pop up notification
          $.notify("The model " + model_id + " was successfully added to your project",
            {position: 'top-center', className: "success", autoHide: true});
      });
    })
  }
</script>

{% endblock content %}
