{% extends "_base.html" %}
{% block content %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- <div class="text-center">
  <br>
  <img src="http://media.django.es.s3.amazonaws.com/nuevo/images/djangopony.png">
  <br>
</div> -->

<br>

<div class="text-center">
  <h1><b>CyDER</b></h1>
  <p><b>Click on a map marker</b> to get more informations about our distribution grid models.</p>
</div>

<div id="locations-map" style="width: 70%; height: 500px; margin: 0 auto; border:6px solid #E4E4E4;"></div>

<br>

<div class="text-center">
  <p>Change the models to be displayed as a list (instead of a map).</p>
  <a class="button1" href="#">Model list view</a>
</div>

<br>

<div class="text-center">
  <p>Click on the button below to access the uPMU grid data.</p>
  <a class="button1" href="/show_upmu_data">Access uPMU data</a>
</div>

<br>

<script type="text/javascript">
var url = "/api/model/";
var data
d3.json(url, function (json) {
  // Save data in global scope
  data = json

  // Create google coodinate objects
  data.forEach(function(d) {
    d.LatLng = new google.maps.LatLng(parseFloat(d.lat), parseFloat(d.lon));
  });

  // Create the map :)
  var map = initMap();

  // Function to initialize the map
  function initMap() {
      // create bounds, which will extend to cover all location markers
      var bound = new google.maps.LatLngBounds();
      data.forEach(function(d) {
          bound.extend(d['LatLng']);
      });
      var map = new google.maps.Map(document.getElementById('locations-map'), {
          // center the map at the center of all the markers
          // the style and control types are copied from the trips page map
          center: bound.getCenter(),
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          panControl: true,
          scrollwheel: false,
          mapTypeControl: false,
          panControlOptions: {
              position: google.maps.ControlPosition.RIGHT_CENTER
          },
          zoomControl: true,
          zoomControlOptions: {
              style: google.maps.ZoomControlStyle.LARGE,
              position: google.maps.ControlPosition.RIGHT_CENTER
          },
          scaleControl: true,
          streetViewControl: false,
          zoom: 1 // overridden with map.fitBounds below
      });
      map.fitBounds(bound);

      data.forEach(function(d) {
        var marker = new google.maps.Marker({
          position: d.LatLng,
          map: map,
          description: "<p>Region: " + d.region + "</p>" +
                       "<div class='text-center'>" +
                       "<a class='button1' href=" + "/model/" + String(d.id) + " >Select</a>" +
                       "</div>",
        });

        google.maps.event.addListener(marker, 'click', function() {
         var infowindow = new google.maps.InfoWindow({
           content: marker.description,
         });
         infowindow.open(map, marker);
        });

      });

      return map; // return the map to be used later
  }

});
</script>

{% endblock content %}
