{% extends "_base.html" %}
{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}


<div style="max-width: 800px; margin: 0 auto;">
  <div class="text-center">
    <h1><b>CyDER</b></h1>
    <br>
    <p>General informations</p>
  </div>

  {% csrf_token %}
  {% crispy form %}

  <br>

  <div class="text-center">
    <p>Models in this project:</p>
  </div>

  <div style="text-align:left;">
    <div class="row">
      {% for value in project_models %}
        <div class="col-md-8">
          <b>Id</b>: {{ value.model.id }} |
          <b>Region</b>: {{ value.model.region }} |
          <b>Breaker name</b>: {{ value.model.breaker_name }}
        </div>
        <div class="col-md-4">
          <a class="button2" style="padding: 5px 5px; font-size: 14px;" href="/my_project_model_settings/{{ value.id }}">Settings</a>
        </div>
        <br>
        <br>
      {% endfor %}
    </div>
  </div>

  <div class="text-center">
    <p>Take me back to my other projects</p>
    <a class="button3" href="/my_projects">Back</a>
  </div>

</div>


{% endblock %}
