{% extends "_base.html" %}
{% block content %}
{% load staticfiles %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/static/magnific-popup/magnific-popup.css">

<!-- Magnific Popup core JS file -->
<script src="/static/magnific-popup/jquery.magnific-popup.js"></script>

<style>
/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 700px;
  margin: 0 auto;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
</style>

<!-- Popup itself -->
<div id="add-popup" class="white-popup mfp-with-anim mfp-hide">
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Add a load or a generator at this node</legend>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Type</label>
    <div class="col-md-4">
      <select id="selectbasic" name="selectbasic" class="form-control">
        <option value="1">Load</option>
        <option value="2">Generator</option>
      </select>
    </div>
  </div>

  <!-- Appended Input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="appendedtext">Power</label>
    <div class="col-md-4">
      <div class="input-group">
        <input id="appendedtext" name="appendedtext" class="form-control" placeholder="" type="text" required="">
        <span class="input-group-addon">kW</span>
      </div>

    </div>
  </div>
  </fieldset>
  </form>
  <div class="text-center">
    <button class="button1" onclick="$.magnificPopup.close();">Add</button>
  </div>
</div>

<div style="max-width: 500px; margin: 0 auto;">
  <div class="text-center">
    <h1><b>CyDER</b></h1>
    <br>
    <p><b>Click on a marker</b> to add a load or a PV.</p>
  </div>
</div>

<div id="locations-map" style="width: 70%; height: 500px; margin: 0 auto; border:6px solid #E4E4E4;"></div>

<br>

<script type="text/javascript">
var url = "/api/node/?model_id={{ model_id }}";
var data
d3.json(url, function (json) {
  // Save data in global scope
  data = json

  // Create google coodinate objects
  data.forEach(function(d) {
    d.LatLng = new google.maps.LatLng(parseFloat(d.latitude), parseFloat(d.longitude));
  });

  // Create the map :)
  var map = initMap();

  // Function to initialize the map
  function initMap() {
      // create bounds, which will extend to cover all location markers
      var bound = new google.maps.LatLngBounds();
      data.forEach(function(d) {
          bound.extend(d['LatLng']);
      });
      var map = new google.maps.Map(document.getElementById('locations-map'), {
          // center the map at the center of all the markers
          // the style and control types are copied from the trips page map
          center: bound.getCenter(),
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          panControl: true,
          scrollwheel: false,
          mapTypeControl: false,
          panControlOptions: {
              position: google.maps.ControlPosition.RIGHT_CENTER
          },
          zoomControl: true,
          zoomControlOptions: {
              style: google.maps.ZoomControlStyle.LARGE,
              position: google.maps.ControlPosition.RIGHT_CENTER
          },
          scaleControl: true,
          streetViewControl: false,
          zoom: 1 // overridden with map.fitBounds below
      });
      map.fitBounds(bound);

      data.forEach(function(d) {
        var marker = new google.maps.Marker({
          position: d.LatLng,
          map: map,
        });

        google.maps.event.addListener(marker, 'click', function() {
          $.magnificPopup.open({
              items: {
                src: '#add-popup'
              },
              removalDelay: 500, //delay removal by X to allow out-animation
              mainClass: 'mfp-fade'
            });
        });

      });

      return map; // return the map to be used later
  }

});
</script>

<div class="text-center">
  <a class="button3" href="/my_project_model_settings/{{ project_model_id }}">Back</a>
</div>


{% endblock %}
