{% extends "_base.html" %}
{% block content %}
{% load staticfiles %}


<div style="max-width: 500px; margin: 0 auto;">
  <div class="text-center">
    <h1><b>CyDER</b></h1>
    <br>
    <p><b>Settings</b></p>
  </div>

  <hr style="height:1px;border:none;color:#333;background-color:#333;">

  <div class="text-center">
    <p><i>Add loads and/or generators</i></p>
    <a class="button2" href="/my_project_model_add_devices/{{ project_model_id }}">Add device</a>

    <br>
    <br>

    <p><i>Set the scenarios you want to apply (time window, EV penetration, ...)</i></p>
    <a class="button2" href="/my_project_model_scenarios/{{ project_model_id }}">Set scenario</a>
  </div>

  <br>
  <br>

  <hr style="height:1px;border:none;color:#333;background-color:#333;">

  <div class="text-center">
    <p>Review the settings before launching the simulation!</p>
    <div class="row">
      <a class="button3" href="/my_project_settings/{{ project_id }}">Back</a>
      <a class="button1" href="/my_project_review/{{ project_id }}">Review</a>
    </div>
  </div>
</div>

{% endblock %}
