{% extends "_base.html" %}
{% block content %}

<div style="max-width: 500px; margin: 0 auto;">
  <!-- <div class="text-center">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" style="width:304px;height:228px;">
    <br>
  </div> -->

  <br>

  <div class="text-center">
    <h1><b>CyDER</b></h1>
    <p>Data used for the calibration process:</p>
    <br>
  </div>

  <div class="text-center">
    <p>Calibration data for:</p>
  </div>
  <div style="text-align:left;">
    <ul style="list-style-position: inside;">
      <li>Model: {{ model }}</li>
      <li>Date: {{ date }}</li>
    </ul>
  </div>

  <br>

  <div class="text-center">
    <p>uPMU data at the feeder:</p>
  </div>
  <div style="text-align:left;">
    <ul style="list-style-position: inside;">
      <li>Active power A: {{ data.p_a_feeder|floatformat:-2 }} kW</li>
      <li>Active power B: {{ data.p_b_feeder|floatformat:-2 }} kW</li>
      <li>Active power C: {{ data.p_c_feeder|floatformat:-2 }} kW</li>
      <li>Reactive power A: {{ data.q_a_feeder|floatformat:-2 }} kvar</li>
      <li>Reactive power B: {{ data.q_b_feeder|floatformat:-2 }} kvar</li>
      <li>Reactive power C: {{ data.q_c_feeder|floatformat:-2 }} kvar</li>
      <li>Voltage magnitude A: {{ data.volt_mag_a_feeder|floatformat:-2 }} V</li>
      <li>Voltage magnitude B: {{ data.volt_mag_b_feeder|floatformat:-2 }} V</li>
      <li>Voltage magnitude C: {{ data.volt_mag_c_feeder|floatformat:-2 }} V</li>
      <li>Voltage angle A: {{ data.volt_ang_a_feeder|floatformat:-2 }} deg</li>
      <li>Voltage angle B: {{ data.volt_ang_b_feeder|floatformat:-2 }} deg</li>
      <li>Voltage angle C: {{ data.volt_ang_c_feeder|floatformat:-2 }} deg</li>
      <li>Voltage positive sequence: {{ data.v1_real_feeder|floatformat:-2 }} + {{ data.v1_imag_feeder|floatformat:-2 }}j</li>
    </ul>
  </div>

  <br>

  <div class="text-center">
    <p>uPMU data downstream:</p>
  </div>
  <div style="text-align:left;">
    <ul style="list-style-position: inside;">
      <li>Active power A: {{ data.p_a_downstream|floatformat:-2 }} kW</li>
      <li>Active power B: {{ data.p_b_downstream|floatformat:-2 }} kW</li>
      <li>Active power C: {{ data.p_c_downstream|floatformat:-2 }} kW</li>
      <li>Reactive power A: {{ data.q_a_downstream|floatformat:-2 }} kvar</li>
      <li>Reactive power B: {{ data.q_b_downstream|floatformat:-2 }} kvar</li>
      <li>Reactive power C: {{ data.q_c_downstream|floatformat:-2 }} kvar</li>
      <li>Voltage magnitude A: {{ data.volt_mag_a_downstream|floatformat:-2 }} V</li>
      <li>Voltage magnitude B: {{ data.volt_mag_b_downstream|floatformat:-2 }} V</li>
      <li>Voltage magnitude C: {{ data.volt_mag_c_downstream|floatformat:-2 }} V</li>
      <li>Voltage angle A: {{ data.volt_ang_a_downstream|floatformat:-2 }} V</li>
      <li>Voltage angle B: {{ data.volt_ang_b_downstream|floatformat:-2 }} V</li>
      <li>Voltage angle C: {{ data.volt_ang_c_downstream|floatformat:-2 }} V</li>
      <li>Voltage positive sequence: {{ data.v1_real_downstream|floatformat:-2 }} + {{ data.v1_imag_feeder|floatformat:-2 }}j</li>
    </ul>
  </div>

  <br>

  <div class="text-center">
    <p>Simulation result:</p>
  </div>
  <div style="text-align:left;">
    <ul style="list-style-position: inside;">
      <li>Current positive sequence: {{ data.i1_real_sim|floatformat:-2 }} + {{ data.i1_imag_sim|floatformat:-2 }}j</li>
    </ul>
  </div>

  <div class="text-center">
    <p>Impedance:</p>
  </div>
  <div style="text-align:left;">
    <ul style="list-style-position: inside;">
      <li>Z={{ results.impedance_real|floatformat:-2 }} + {{ results.impedance_imag|floatformat:-2 }}j</li>
    </ul>
  </div>
</div>

{% endblock content %}
