{% extends "_base.html" %}
{% block content %}


<div style="max-width: 500px; margin: 0 auto;">

  <br>

  <div class="text-center">
    <h1><b>CyDER</b></h1>
    <p>Simulations saved for this user:</p>
    <br>
  </div>

  <div style="text-align:left;">
    <ul style="list-style-position: inside;">
    {% for value in my_projects %}
    <li><b>Name:</b> {{ value.name }} |
      <b>Description:</b> {{ value.description }}
    </li>
    <div class="text-center">
      <a class="button3" style="padding: 5px 5px; font-size: 14px;" href="/api/my_project/remove/{{ value.id }}">Remove</a>
      <a class="button2" style="padding: 5px 5px; font-size: 14px;" href="/api/my_project/copy/{{ value.id }}">Copy</a>
      <a class="button2" style="padding: 5px 5px; font-size: 14px;" href="/my_project_settings/{{ value.id }}">Settings</a>
      <a class="button1" style="padding: 5px 5px; font-size: 14px;" href="/my_project_review/{{ value.id }}">Simulate</a>
      <a class="button1" style="padding: 5px 5px; font-size: 14px;" href="/my_project_node_result/{{ value.id }}">View results</a>
    </div>

    <div class="text-center">
      {% if value.in_progress %}
        <h4>Status: <span class="label label-danger">Simulating...</span></h4>
      {% elif value.result_available %}
        <h4>Status: <span class="label label-success">Results available</span></h4>
      {% else %}
        <h4>Status: <span class="label label-warning">Waiting for user inputs</span></h4>
      {% endif %}
    </div>

    <br>

    {% endfor %}
    </ul>
  </div>

  <br>

  <div class="text-center">
    <p><i>To add a model, go to the model's web page and click "Add"</i></p>
  </div>

</div>

{% endblock content %}
