{% extends 'cyder/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    <style>
        .card {
            height: 100%;
        }
        .col-lg-4 {
            margin-bottom: 1rem;
        }
    </style>
{% endblock css %}

{% block content %}
    <div id="app">
        Model Viewer
    </div>
{% endblock content %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <script src="{% static 'cyder/models/leaflet-heat.js' %}"></script>
    <script type="module">
        import { } from '{% static 'cyder/models/viewer.js' %}';
        import CyderAPI from '{% static 'cyder/api.js' %}';

        document.querySelector(".navbar [data-name='model_viewer']").classList.add('active');

        window.onload = function() {
            CyderAPI.auth();

            window.app = new Vue({
                el: '#app',
            });
        }
    </script>
{% endblock script %}
