{% extends 'cyder/base.html' %}
{% load escapequotes %} {# Cf. cyder/main/templatetags/escapedoublequote.py #}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    <style>
        .card {
            height: 100%;
        }
        .col-lg-4 {
            margin-bottom: 1rem;
        }
    </style>
{% endblock css %}

{% block content %}

    <div id="model-viewer"></div>

{% endblock content %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <script src="{% static 'cyder/leaflet-heat.js' %}"></script>
    <script src="{% static 'cyder/model_viewer.js' %}"></script>
    <script>
        document.querySelector(".navbar [data-name='model_viewer']").classList.add('active');
        let modelViewer;
        window.onload = function() {
            CyderAPI.auth();
            modelViewer = new ModelViewer("{% url 'model_viewer' %}", document.querySelector('#model-viewer'));
            modelViewer.render();
            modelViewer.modelName = "{{ modelname|escapequotes|safe }}";
        }
    </script>
{% endblock script %}
