{% extends 'cyder/base.html' %}
{% load escapequotes %} {# Cf. cyder/main/templatetags/escapedoublequote.py #}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    <style>
        .card {
            height: 100%;
        }
        .col-md-4 {
            margin-bottom: 1rem;
        }
    </style>
{% endblock css %}

{% block content %}
    Select a model to display: <select class="custom-select" id="modelmenu"></select>

    <div id="map" style="height: 70vh; margin: 1rem 0 1rem 0"></div>

    <div class="row" style="margin-bottom: 1rem">
        <div class=col-md-4>
            <div class="card">
                <div class="card-header">
                    Infos
                </div>
                <div class="card-body">
                    Model name: <span id="modelname"></span><br>
                    Nodes count: <span id="nodescount"></span><br>
                    Devices count: <span id="devicescount"></span><br>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Devices count detail
                </div>
                <div id="devicecountdetail" class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header input-group">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </div>
                </div>
                <div id="searchresult" class="card-body">
                    Search
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <script src="{% static 'cyder/statelib.js' %}"></script>
    <script src="{% static 'cyder/model_viewer.js' %}"></script>
    <script>
        $(".navbar [data-name='model_viewer']").addClass("active");
        var djangoContext = {modelname: "{{ modelname|escapequotes|safe }}"};
    </script>
{% endblock script %}
