{% extends 'cyder/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block content %}
    <div id="app">
        {% verbatim %}
        <h1>Configuration</h1>
            <div v-if="loaded">
                <button type="button" class="btn float-right btn-primary" @click="action('runDetailedConfig',project.id)">See more</button>
            </div>
        <config-plots :p="project"></config-plots>
        {% endverbatim %}
    </div>
{% endblock content %}

{% block script %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="module">
        import { configPlots } from '{% static 'cyder/projects/config.js' %}';
        import CyderAPI from '{% static 'cyder/api.js' %}';
        import notifyRESTError from '{% static 'cyder/api-notify-error.js' %}';

        document.querySelector(".navbar [data-name='projects']").classList.add('active');

        window.onload = function() {
            CyderAPI.auth();

            window.app = new Vue({
                el: '#app',
                components: {configPlots},
                data: {
                    project: null,
                    loaded: false,
                },
                watch: {
                },
                methods: {
                    async loadProject(id) {
                        try {
                            this.project = await CyderAPI.Project.get(id, true);
                            this.loaded=true;
                        } catch(error) {
                            if(!(error instanceof CyderAPI.RESTError))
                                throw(error);
                            notifyRESTError(error);
                        }
                    },
                    async update(){
                        this.project = await CyderAPI.Project.get(id, true);
                    },
                    async action(name, id){
                       try{ 
                            await CyderAPI.Project[name](id);
                            window.location.href = `/projects/config_details/${encodeURI(id)}/`;
                        }
                        catch(error) {
                            if(!(error instanceof CyderAPI.RESTError))
                                throw(error);
                            notifyRESTError(error);
                        }
                    },
                },
            });
            app.loadProject("{{ project_id|escapejs }}");
        };

    </script>
{% endblock script %}
