{% extends 'cyder/base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
<!--     <div id="project-results"></div> -->

    <div id="app" v-if="loaded">
        {% verbatim %}
        <h1>Configuaration details</h1>
        <br>
        <h2>Timestamp </h2>
<!--         <timestamp-selector @timestampchanged="updatetimestamp" :datetimes="datetimes" > </timestamp-selector> -->
        <br>
        <h2>Graphs</h2>

        {% endverbatim %}
    </div>

{% endblock content %}

{% block script %}


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>

    <script type="module">
        import CyderAPI from '{% static 'cyder/api.js' %}';
        import notifyRESTError from '{% static 'cyder/api-notify-error.js' %}';

        document.querySelector(".navbar [data-name='projects']").classList.add('active');

        window.onload = function() {
            CyderAPI.auth();


            // DEBUG: Keep a reference to the Vuejs app in window.app to make it available easily in the console for debug
            window.app = new Vue({
                el: '#app',
                components: {},
                data: {
                    project: null,
                    details:null,
                    datetimes: null,
                    timestamp: null,
                    parsedTimestamp: null,
                    loaded: null,
                },

                // watch: {
                //     timestamp: function (newTimestamp, oldTimestamp) {
                //         if (this.geo!=null){
                //             this.getPointFeatureResult();
                //             this.getLineFeatureResult();
                //             //changing the keys of components force re-render of the vue and thus updates the results on the map dynamically
                //             this.componentKeyA++;
                //             this.componentKeyB++;
                //             this.componentKeyC++;
                //             this.componentKeyP++;
                //             this.parsedTimestamp=this.parsedTimestamp=moment(this.timestamp, "YYYY_MM_DD_HH_mm_ss").toDate();
                //         }
                //     },
                // },
                methods: {
                    async loadProject(id) {
                    //loads project from pg db
                    //loads and parses results from pg db
                    //collects geojson model data
                        try {
                            this.project = await CyderAPI.Project.get(id, true);
                            this.details=JSON.parse(this.project.config_detail);
                            this.datetimes=Object.keys(this.details).sort();
                            this.timestamp=this.datetimes[0];
                            this.parsedTimestamp=moment(this.timestamp, "YYYY-MM-DD").toDate();
                            this.loaded=true;
                        } catch(error) {
                            if(!(error instanceof CyderAPI.RESTError))
                                throw(error);
                            notifyRESTError(error);
                        }
                    },

                    updatetimestamp(x){
                        this.timestamp=x;
                    },
                },
            });
            app.loadProject("{{ project_id|escapejs }}");
        };

    </script>

{% endblock script %}
