{% extends 'cyder/base.html' %}
{% load static %}
{% load escapequotes %} {# Cf. cyder/main/templatetags/escapedoublequote.py #}

{% block content %}
    <div id="project-creator"></div>
{% endblock content %}

{% block script %}
    <script src="{% static 'cyder/model_viewer.js' %}"></script>
    <script src="{% static 'cyder/projects/create.js' %}"></script>
    <script>
        document.querySelector(".navbar [data-name='projects']").className += " active";
        let projectCreator;
        window.onload = function() {
            CyderAPI.auth();
            projectCreator = new ProjectCreator(document.querySelector('#project-creator'));
        }
    </script>
{% endblock script %}
