{% extends 'cyder/base.html' %}
{% load static %}

{% block css %}
    <style>
        .table td {
            vertical-align: middle;
        }
    </style>
{% endblock css %}

{% block content %}
    <h1>Projects</h1>

    <div id="project-list"></div>

{% endblock content %}

{% block script %}
    <script>
        document.querySelector(".navbar [data-name='projects']").className += " active";
    </script>
    <script src="{% static 'cyder/api.js' %}"></script>
    <script src="{% static 'cyder/viewlib.js' %}"></script>
    <script src="{% static 'cyder/projects/projects.js' %}"></script>
{% endblock script %}
