{% extends 'cyder/base.html' %}
{% load static %}

{% block css %}
    <style>
        .table td {
            vertical-align: middle;
        }
    </style>
{% endblock css %}

{% block content %}
    <h1>Projects <a href="{% url 'createproject' %}" style="margin-left: 4rem;" class="btn btn-primary">New</a></h1>
    <br>
    <div id="project-list"></div>
{% endblock content %}

{% block script %}
    <script type="module">
        import { ProjectList } from '{% static 'cyder/projects/projects.js' %}';

        document.querySelector(".navbar [data-name='projects']").classList.add('active');
        let projectList;
        window.onload = function() {
            CyderAPI.auth();
            projectList = new ProjectList(document.querySelector('#project-list'));
            let update = () => { projectList.update(); setTimeout(update, 5000); }
            setTimeout(update, 5000);
        }
    </script>
{% endblock script %}
